<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{currentSummoner}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
      <ion-icon name="md-more"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-row>Team 1</ion-row>
      <ion-row style="border: solid 1px gray" *ngFor="let summoner of teamRed">
        <ion-col>
          <ion-row style="margin-bottom: 8px;">{{summoner.name}}</ion-row>
          <ion-row>{{summoner.champion}}</ion-row>
        </ion-col>
        <ion-col width-25 style="padding: 10px 0px 0px 0px;">
          <ion-img style="height: 35px;width:35px;" src="http://localhost:3000/api/v1/assets/base_icons/challenger.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row justify-content-end>Team 2</ion-row>
      <ion-row style="border: solid 1px gray" *ngFor="let summoner of teamBlue">
        <ion-col width-25 style="padding: 10px 0px 0px 0px;">
          <ion-img style="height: 35px;width:35px;" src="http://localhost:3000/api/v1/assets/base_icons/provisional.png"></ion-img>
        </ion-col>
        <ion-col>
          <ion-row style="margin-bottom: 8px;" justify-content-end>{{summoner.name}}</ion-row>
          <ion-row justify-content-end>{{summoner.champion}}</ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <h2 style="text-align: center;">Game Duration</h2>
  <h3 style="text-align: center">4:30</h3>
  <button ion-button style="width:90vw; position: absolute; bottom: 5vh;">Summoner Info</button>
</ion-content>