<ion-header >
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{summoner.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
      <ion-icon name="md-more"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
  <div>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="Overview">
        Overview
      </ion-segment-button>
      <ion-segment-button value="Matches">
        Matches
      </ion-segment-button>
      <ion-segment-button value="Champions">
        Champions
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-label style="margin-left: 25px" *ngIf="selectedSegment == 'Overview'">Summoner Info</ion-label>
  <ion-label style="margin-left: 25px" *ngIf="selectedSegment == 'Matches'">Recent Matches</ion-label>
  <ion-input style="margin-left: 25px" *ngIf="selectedSegment == 'Champions'" placeholder="< Champion >"></ion-input>
</ion-header>

<ion-content>
  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'Overview'" class="OverviewHeight" padding>
      <ion-row>
        <ion-col style="text-align: center">Level</ion-col>
        <ion-col style="text-align: center">{{summoner.level}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row>Normal</ion-row>
          <ion-row style="border: solid 1px gray;">
            <ion-col>
              <ion-row>Games</ion-row>
              <ion-row>Wins</ion-row>
            </ion-col>
            <ion-col>
              <ion-row justify-content-end>{{summoner.normalGames}}</ion-row>
              <ion-row justify-content-end>{{summoner.normalWins}}</ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>Solo/Duo</ion-row>
          <ion-row style="border: solid 1px gray;">
            <ion-col>
              <ion-row>Games</ion-row>
              <ion-row>Wins</ion-row>
            </ion-col>
            <ion-col>
              <ion-row justify-content-end>{{summoner.sdGames}}</ion-row>
              <ion-row justify-content-end>{{summoner.sdWins}}</ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 4px; margin-top: 10px;">Most Played Champions</ion-row>
      <ion-row style="border: solid 1px gray;">
        <ion-col align-self-center style="text-align: center">Katarina</ion-col>
        <ion-col style="padding: 0px; height: 60px;">
          <ion-img style="height: 100%; width: 100%;" src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Katarina_0.jpg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row style="border: solid 1px gray;">
        <ion-col align-self-center style="text-align: center">Zed</ion-col>
        <ion-col style="padding: 0px; height: 60px;">
          <ion-img style="height: 100%; width: 100%;" src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Zed_0.jpg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row style="border: solid 1px gray;">
        <ion-col align-self-center style="text-align: center">Blitzcrank</ion-col>
        <ion-col style="padding: 0px; height: 60px;">
          <ion-img style="height: 100%; width: 100%;" src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Blitzcrank_0.jpg"></ion-img>
        </ion-col>
      </ion-row>
      
      <ion-row justify-content-center style="margin-bottom: 8px; margin-top: 10px;">
        <ion-col width-50 style="border: solid 1px gray; padding: 0px;">
          <div class="leagueData">Solo/Duo</div>
          <div class="leagueData">
            <ion-img style="height: 50px;width: 50px;" src="http://localhost:3000/api/v1/assets/base_icons/" + {{summoner.soloDuo}} + ".png"></ion-img>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50 style="border: solid 1px gray;">
          <div class="leagueData">Flex 3v3</div>
          <div class="leagueData">
            <ion-img src="http://localhost:3000/api/v1/assets/base_icons/" + {{summoner.flex3v3}} + ".png"></ion-img>
          </div>
        </ion-col>
        <ion-col width-50 style="border: solid 1px gray;">
          <div class="leagueData">Flex 5v5</div>
          <div class="leagueData">
            <ion-img src="http://localhost:3000/api/v1/assets/base_icons/" + {{summoner.flex5v5}} + ".png"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'Matches'" padding>
      <div style="margin-top: 3px; border: solid 1px gray;">
        <ion-row>
          <ion-col width-33>
            <ion-img style="height: 90px;width:90px;" src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/champion/Aatrox.png"></ion-img>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>Win</ion-col>
              <ion-col>Farm 173</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>K/D/A</ion-col>
              <ion-col>Gold</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>17/3/6</ion-col>
              <ion-col>17452</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row style="border-top: solid 1px gray;">
          <ion-col>Date: 12/12/2016</ion-col>
          <ion-col>Duration: 45 min</ion-col>
        </ion-row>
      </div>
      <div style="margin-top: 3px; border: solid 1px gray;">
        <ion-row>
          <ion-col width-33>
            <ion-img style="height: 90px;width:90px;" src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/champion/Aatrox.png"></ion-img>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>Win</ion-col>
              <ion-col>Farm 173</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>K/D/A</ion-col>
              <ion-col>Gold</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>17/3/6</ion-col>
              <ion-col>17452</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row style="border-top: solid 1px gray;">
          <ion-col>Date: 12/12/2016</ion-col>
          <ion-col>Duration: 45 min</ion-col>
        </ion-row>
      </div>
    </div>
    <div *ngSwitchCase="'Champions'" padding>
      <ion-row style="border: solid 1px gray;">
        <ion-col>
          <ion-img style="height: 90px;width:90px;" src="http://ddragon.leagueoflegends.com/cdn/7.5.2/img/champion/Aatrox.png"></ion-img>
        </ion-col>
        <ion-col>
          <ion-row style="margin-bottom: 10px">Aatrox</ion-row>
          <ion-row>Mastery Points</ion-row>
          <ion-row>55321</ion-row>
        </ion-col>
        <ion-col>
          <ion-img style="height: 90px;width:90px;padding: 20px;" src="http://canisback.com/champion_mastery/img/level_7.png"></ion-img>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
